.search-card{
    width: 50%;
    inline-size: 50%;
}

.search-field{
    width: 40%;
    margin-right: 20px;

}
.search-criteria{
    color: #068355;
    width: 20%;
}
.mainbtn {
    font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #068355;
  color: white;
  width: 10%;
  border: 0;
  padding: 15px;
  color: hsl(#ffffffad);
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.mainbtn:enabled:hover {
    background: #078f5d;
}
.table-primary{
    color: #d1ccb9;
    width: 75%;
}
.th-primary{
    background-color: #1E866C;
}
.table-element{
    background-color: white;
    color: #068355;
}

.option-button {
    font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  display: inline;
  outline: 0;
  background: #068355;
  color: white;
  width: 30%;
  border: 0;
  margin-right: 20px;
  color: hsl(#ffffffad);
  font-size: 10px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.option-button:enabled:hover {
    background: #078f5d;
}
.search-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #068355;
    color: white;
    width: 10%;
    border: 0;
    margin-left: 10px;
    color: hsl(#ffffffad);
    font-size: 10px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;

}
.option-button:disabled{
    background: #044d3291;
    color: #707070;

}