<div *ngIf="isAuthorized">
    <mat-card>
        <form [formGroup]="registerForm">
            <h1 style="text-align: center;">User Registration</h1>
            <mat-form-field class="name-field">
            <input matInput placeholder="First Name" formControlName="firstName"  #firstName>
            </mat-form-field>
            <mat-form-field class="name-field">
            <input matInput placeholder="Last Name" formControlName="lastName" #lastName>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <input matInput placeholder="Email Address" formControlName="email" #email>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <input matInput placeholder="Confirm Email Address" formControlName="emailconfirm" #emailconfirm>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" #password>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <input matInput placeholder="Contact Number (+966)" formControlName="contactInfo" #contactInfo>
            </mat-form-field>
            <mat-divider>
            </mat-divider>
            <button type="submit"  mat-button class="mainbtn" (click)="registerUser()"
                                [disabled]="registerForm.pristine || registerForm.invalid">Register
                            </button>
        </form>
    </mat-card>
</div>